<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quran Bahith{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'quran/style.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <script src="{% static 'quran/js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header" style="float:right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'quran:index' %}">الباحث القراني</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar" style="float:right">
            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'quran:index' %}"><span class="glyphicon " aria-hidden="true"></span>&nbsp; كل السور </a></li>

            </ul>
            <form class="navbar-form navbar-right" role="search" method="get" action="{% url 'quran:verse'  %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">بحث </button>
            </form>
            <ul class="nav navbar-nav navbar-center">
                <form class="navbar-form navbar-center" role="search" method="get" action="{% url 'quran:words'  %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="w" value="{{ request.GET.w }}">
                </div>
                <button type="submit" class="btn btn-default">بحث حسب الكلمات</button>
            </form>

            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>