{% extends 'quran/base.html' %}
{% block title %}{{ sorat }}{% endblock %}
{% block sorats_active %}active{% endblock %}
{% block body %}


<div class="container-fluid verses-container">

    <div class="row">

        <!-- Left sorat Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'quran:detail' sorat.id %}">
                        {% if sorat.sorat_logo %}
                            <img src="{{ sorat.sorat_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>التفاصيل ل</h3>
                        {% endif %}
                    </a>
                    <h1>{{ sorat.sid }} <small> رقم السورة </small></h1>
                    <h2>{{ sorat.sorat_name }}</h2>
                </div>
            </div>
        </div>

        <!-- Right verse Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'quran:detail' sorat.id %}">View All</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>تفاصيل ايات السورة</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>الرقم التسلسلي</th>
                            <th>رقم الاية</th>
                            <th>نص الاية</th>
                            <th>عدد الكلمات</th>
                            <th>تكرار الحروف</th>
                            <th> مجموع حساب الجمل</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for verse in sorat.verse_set.all %}
                            <tr>
                                <td>{{ verse.v_g_id }}</td>
                                <td>{{ verse.v_lid }}</td>
                                <td>
                                    <p class="text-center">{{ verse.v_text }}</p>
                                </td>
                                <td> {{ verse.v_words_count }}</td>
                                <td>{% autoescape off %}
                                    {{ verse.chars_count_d }}
                                    {% endautoescape %}
                                </td>
                                <td> {{ verse.v_joumla_sum }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
