{% extends 'quran/base.html' %}
{% block title %}{{ sorat }}{% endblock %}
{% block sorats_active %}active{% endblock %}
{% block body %}


<div class="container-fluid verses-container">

    <div class="row">



        <!-- Right verse Info -->
        <div >



            <div class="panel panel-default col-sm-12 col-md-12">
                <div class="panel-body">
                    <h2>{{ sorat.sorat_name }}  <small> رقم السورة </small> {{ sorat.sid }}</h2>


                    <h3 class="text-center">تفاصيل ايات السورة</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <div class=" table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>الرقم التسلسلي</th>
                            <th>رقم الاية</th>
                            <th>نص الاية</th>
                            <th>عدد الكلمات</th>
                            <th>تكرار الحروف</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for verse in sorat.verse_set.all %}
                            <tr>
                                <td>{{ verse.v_g_id }}</td>
                                <td>{{ verse.v_lid }}</td>
                                <td>
                                    <p class="text-center"><strong>{{ verse.v_text }}</strong></p>
                                </td>
                                <td> {{ verse.v_words_count }}</td>
                                <td>{% autoescape off %}
                                    {{ verse.chars_count_d }}
                                    {% endautoescape %}
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
